<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleLocalizations</key><array><string>en</string><string>fr</string></array>
	<key>CFBundleExecutable</key><string>Roughcut</string>
	<key>CFBundleIconFile</key><string>AppIcon</string>
	<key>CFBundleIdentifier</key><string>io.github.bouliw.roughcut</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>Roughcut</string>
	<key>CFBundleDisplayName</key><string>Roughcut</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>__VERSION__</string>
	<key>CFBundleVersion</key><string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>LSApplicationCategoryType</key><string>public.app-category.video</string>
	<key>NSHighResolutionCapable</key><true/>
	<key>NSHumanReadableCopyright</key><string>MIT License</string>
	<key>RoughcutEngineSHA256</key><string>__ENGINE_SHA__</string>
	<key>RoughcutEngineVersion</key><string>__ENGINE_VERSION__</string>
	<key>RoughcutEngineURL</key><string>__ENGINE_URL__</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>Folder of footage</string>
			<key>CFBundleTypeRole</key><string>Viewer</string>
			<key>LSHandlerRank</key><string>Alternate</string>
			<key>LSItemContentTypes</key><array><string>public.folder</string></array>
		</dict>
	</array>
</dict>
</plist>
